# Port 80 (default port) is going to be used by the nginx which is responsible for external connection,
# So we need to use an extra port in this internal client (React) service
# That's why we add this customed config file and we didn't need it in the 'docker-react' project

server {
  listen 3000;

  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
    try_files $uri $uri/ /index.html;
  }
}